<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://staging.coinfalcon.com" target="_blank">
        <img alt="Coinfalcon Exchange" class="fix-size" src="<%= image_url('logo.png') %>">
      </a>
    </div>
  </div>
</nav>
