<div class="head-action">
  <span class="head-text">Trading Bot</span>
  <%= link_to "Create Trading", new_trading_path, class: 'btn btn-success float-right btn-margin' %>
</div>
<div id='trading-list'>
  <%= render partial: 'partial_1', locals: { client_orderbook: @client_orderbook, client_trades: @client_trades['data'][0], buy_tradings: @buy_tradings, sell_tradings: @sell_tradings, my_order: @my_order, market: @market } %>
</div>
