.set-background {
  background: #F0F8FB;
  min-height: 573px;
}

.head-action {
  padding: 15px 0;
}

.head-text {
  font-size: 35px;
}

.btn-margin {
  margin-top: 8px;
}

.width-15{
  width: 15% !important;
  display: inline !important;
}

.inline-head {
 display: inline !important; 
}

.render-table {
  margin: 0 50px;
}

.margin-top-15 {
  margin-top: 15px;
}

p.help-block {
  font-size: 0.8em;
  color: green;
  font-style: italic;
}

.margin-right-15 {
  margin-right: 15px !important;
}